@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>bootstrap 5.3</h1>
<p class="text-sm-end text-primary bg-black">Esse texto será alinha a direita em tela pequena (sm) até qualquer tamanho </p>
<p class="text-md-center text-success bg-success ">Esse texto será alinha a direita em tela média (md) até qualquer tamanho </p>
<p class="text-lg-end text-danger bg-warning">Esse texto será alinha a direita em tela grande (lg) até qualquer tamanho </p>