@{
    ViewData["Title"] = "Imagens no bootstrap";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="container">

    <button class="btn btn-outline-primary">Teste1</button>
    <button class="btn btn-outline-primary">Teste2</button>


    <img class="img-fluid" src="~/img/r.jpg" />
    <hr class="mt-3" />
    <img class="img-thumbnail" src="~/img/r.jpg" width="200" height="300" />
    <hr class="mt-3" />
    <img class="img-fluid" src="~/img/r.jpg" width="200" height="300" />
    <hr class="mt-3" />
    <img class="img-fluid rounded-circle" src="~/img/r.jpg" width="200" height="300" />


</div>